#__next > div > div:nth-of-type(2) {
  display: block !important;
}

[data-testid='feed-widget-CONTENT_AD'],
:has(> #apn-large-ad-detail),
:has(> #apn-medium-leaderboard),
:has(> h3),
#skip-to-content > div > div:first-of-type,
#apn-large-skyscraper,
iframe {
  display: none !important;
}
